<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .main {
            margin-left: 13%;
            margin-right: 13%;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            margin-top: 5%;

        }
        .col{
            width: 100%;
            margin-bottom: 2%;
        }
    </style>
</head>

<body>
    <div class="main">
        <h1 class="header">ScoreKeeper</h1>
        <hr> 
        {{{body}}}
    </div>

</body>

</html>