<form class="form-group has-error has-feedback" method="post" action="/">
    <div class="col">
        <input type="text" name="player1" class=" form-control" id="inputError" placeholder="Player1...">
    </div>
    <div class="col">
        <input type="text" name="player2" class=" form-control" id="inputError" placeholder="Player2...">
    </div>
    <div class="col">
        <input type="text" name="player3" class=" form-control" id="inputError" placeholder="Player3...">
    </div>
    <div class="col">
        <input type="text" name="player4" class=" form-control" id="inputError" placeholder="Player4...">
        <input type="hidden" name="id" value="{{id}}">
    </div>
    <button   class=" btn btn-primary" style="margin-left:40% ;margin-right:90%; width:180px ; height: 40px; background-color: #BF1363 ; border: none">Create new game</button>
</form>

